@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/EasyUI/jquery.min.js"></script>
    <script src="~/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/js/index.js"></script>
    <link href="~/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/EasyUI/themes/icon.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body class="easyui-layout" style="margin: 0px">
    <div data-options="region:'north',collapsible:false,split:false,title:'学员作业登记'" style="height: 200px">
    </div>
    <div data-options="region:'west',collapsible:false,title:'左'" style="width: 200px"></div>
    <div data-options="region:'center',collapsible:false,title:'中间'" style="">

        <div>123123</div>
        <div data-options="region:'south',collapsible:false,title:'下'" style=""></div>


    </div>
</body>
</html>
