@model HomeWork.Model.Chapter
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div style="float: left; width: 300px; height: 800px; border-right: solid 1px; text-align: center">
    <a style="font-size: 18px">查询作业情况</a>
    <br />
    作业类型:<select name="homeworkType">
        <option value="1">预习总结</option>
        <option value="2">云题库</option>
        <option value="3">上机练习</option>
    </select>
    <br />
    选择书本:@Html.DropDownList("chapterId", (SelectList)ViewBag.list, "请选择")
    <div style="text-align:center;width:48px">
        @Ajax.ActionLink("查询", "Yuxi", "Student", new AjaxOptions() {  OnSuccess="yuxi"})
    </div>
</div>
<div style="text-align:center">
    <div style="height:100px"></div>
    <div class="a">学员作业查询</div>
</div>
<script>
    function yuxi(data)
    {
        $(".a").html(data);
    }

</script>
