 <div style="width: 800px; padding-left: 100px">
            <span class="glyphicon glyphicon-asterisk">上传须知:</span>
            <br />
            <ul style="list-style: none">
                <li><span class="glyphicon glyphicon-chevron-right">请勿上传小说、mp3、视频等与技术无关的内容!</span></li>
                <li><span class="glyphicon glyphicon-chevron-right">如有雷同，抄袭等情况，一旦发现将被删除!</span></li>
                <li><span class="glyphicon glyphicon-chevron-right">如有作业不能正确提交的情况请与管理员联系</span></li>

            </ul>
        </div>