@{
    ViewBag.Title = "教员主页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float: left; width: 300px; height: 800px; border-right: solid 1px; text-align: center">
    <lable style="font-size: 18px">查询作业情况</lable>
    <br />
    请选择书本:<select></select>
    <br />
    选择章节:<select></select>
</div>
<div style="text-align:center">
    <div style="height:100px"></div>
    <h1 style="font-size:50px">学员作业列表</h1>
</div>