<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/core[1].css" rel="stylesheet" />
    <link href="~/css/style[1].css" rel="stylesheet" />
    <link href="~/css/font.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body id="cc">
    <div>
        <div style="float: left">学员作业登记系统</div>
        <div style="float: right">你好小明，注销</div>
    </div>
    <br />
    <hr />
    <br />
    <div class="carousel slide" style="height:40px"><span style="float:left">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div style="float:left;width:200px;"><a href="#" class="btn btn-lg btn-primary">上机练习</a></div>
        <div style="float:left;width:200px;"><a href="#" class="btn btn-lg btn-primary">云题库</a></div>
        <div style="float:left;width:auto;"><a href="#" class="btn btn-lg btn-primary">预习总结</a></div>
    </div>
    <br />
    <hr />
    @RenderBody()

</body>
</html>
