<div class="yui3-g footer gray top20 wrap" style="text-align:center">
        <div class="yui3-u-1 acenter">
            <div class="bd-bottom  f-about">
                <a target="_blank" href="#" title="">手机版社区</a> |<a target="_blank" href="http://home.bdqn.cn/forum.php?mod=misc&amp;action=showdarkroom" title="">小黑屋</a> |<a target="_blank" href="http://help.bdqn.cn/" title="">帮助中心</a> |<a target="_blank" href="mailto:YL003@bdqn.cn" title="">联系我们</a> |<a target="_blank" href="http://www.bdqn.cn/sitemap" title="">网站地图</a> |<a target="_blank" href="http://www.bdqn.cn" title="北大青鸟官方网站">北大青鸟官方网站</a>
            </div>
            <div class="wrap acenter top10">
                <p>Copyright 1999-2016 Beijing Aptech Beida Jade Bird Information Technology Co.,Ltd<br>
                    北大青鸟IT教育 北京阿博泰克北大青鸟信息技术有限公司 版权所有</p>

                <p class="inte">
                    <span>京ICP备11045574号-3　京公网安备11010802013845号
                        <script type="text/javascript">
                            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7ced51c827c3a33db126bfa816d97326' type='text/javascript'%3E%3C/script%3E"));
                        </script>
                        <script src=" #" type="text/javascript"></script>
                        
                    </span>
                    <a class="offset5" href="#" id="___szfw_logo___">
                    <script type="text/javascript">(function () { document.getElementById('___szfw_logo___').oncontextmenu = function () { return false; } })();</script>
                </p>
            </div>
        </div>
</div>